@model WebApiMonitor.Administrator.Models.AddAgentViewModel

@{
    ViewBag.Title = "Добавление нового агента ";
}

<h2 class="page-header">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="add-agent">
    @using (Html.BeginForm("Add", "Agents", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.IpAddress, new { @class = "col-md-2 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.IpAddress, new { @class = "form-control", @placeholder = "IP адрес" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Port, new { @class = "col-md-2 control-label" })
            <div class="col-md-7">
                @Html.TextBoxFor(m => m.Port, new { @class = "form-control", @placeholder = "порт" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-7 text-right">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}