@model List<WebApiMonitor.Administrator.Models.AgentSettings>

@{
    ViewBag.Title = "Агенты";
}

@section scripts {
    <script>
        $(function () {
            $('#delete-agent-btn').click(function () {
                var checkedItems = $(".checkbox-col input:checked");
                if (checkedItems.length == 0) {
                    alert('Необходимо выбрать хотя бы 1 элемент.')
                    return;
                }
                else {
                    var isConfirmed = confirm("Вы действительно хотите удалить выбранные элементы?");
                    if (isConfirmed)
                        deleteItems();
                }
            });

            $('#check-all-chck').click(function () {
                if ($(this).is(':checked')) {
                    $(".checkbox-col input").prop('checked', true);
                } else {
                    $(".checkbox-col input").prop('checked', false);
                }
            });

            function deleteItems() {
                var items = [];
                $(".checkbox-col input:checked").each(function () {
                    items.push(parseInt($(this).val()));
                });
                console.log(items);
                startSpin();
                $.ajax({
                    url: "/Agents/Delete",
                    data: JSON.stringify(items),
                    type: 'post',
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.msg !== "Готово")
                            alert(data.msg);
                        stopSpin();
                        location.reload();
                    }
                });
            }
        });
    </script>
}

<h2 class="page-header">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div class="js-jobs-list">
    <div class="btn-toolbar btn-toolbar-top">
        <a href="/Agents">
            <button class="js-jobs-list-command btn btn-sm btn-primary">
                <span class="glyphicon glyphicon-repeat"></span>
                Обновить
            </button>
        </a>
        <a href="/Agents/Add">
            <button class="js-jobs-list-command btn btn-sm btn-default">
                <span class="glyphicon glyphicon-plus"></span>
                Добавить
            </button>
        </a>
        <button class="js-jobs-list-command btn btn-sm btn-default" id="delete-agent-btn">
            <span class="glyphicon glyphicon-remove"></span>
            Удалить выбранные
        </button>
        <div class="btn-toolbar-spacer pull-right"></div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="min-width">
                        <input type="checkbox" class="js-jobs-list-select-all" id="check-all-chck">
                    </th>
                    <th class="min-width">Ид</th>
                    <th class="min-width">Сервер</th>
                    <th>Статус</th>
                    <th class="align-right" style="text-align: right;">Добавлен</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="js-jobs-list-row  hover">
                        <td class="checkbox-col">
                            <input type="checkbox" class="js-jobs-list-checkbox" name="jobs[]" value="@item.Id">
                        </td>
                        <td class="min-width">
                            <a href="/Agents/Settings/@item.Id">#@item.Id</a>
                        </td>
                        <td class="min-width">
                            <span class="labe label-defult text-uppercase" title="" data-original-title="wtf5757:11352:95d83da8-6735-48e1-8c50-878ba79163a6">
                                @item.IpAddress:@item.Port
                            </span>
                        </td>
                        <td class="word-break">

                            <a class="job-method" href="/Agents/Settings/@item.Id">@item.Status</a>
                        </td>
                        <td class="align-right" style="text-align: right;">
                            <span data-moment="1527845460" title="Fri, Jun 1, 2018 5:31 AM" data-container="body" data-original-title="Fri, Jun 1, 2018 5:31 AM">
                                @item.CreationDate
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="btn-toolbar">
        <div class="btn-toolbar-label">
            Всего элементов: @Model.Count
        </div>
    </div>
</div>