@using WebApiInsight.Administrator.Models
@model WebApiInsight.Administrator.Models.AgentSettings
@{
    ViewBag.Title = "Настройки агента #" + ViewBag.AgentId;
}

@section scripts {
    <script src="../../Content/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        $(function () {
            function initEditor() {
                window.editor = ace.edit("editor");
                editor.session.setMode("ace/mode/json");
                editor.getSession().setTabSize(2);
                editor.getSession().setUseWrapMode(true);
            }

            initEditor();

            $('#stop-agent-btn').click(function () {
                var agentId = document.getElementById('Id').value;
                startSpin();
                $.ajax({
                    url: "/Agents/Stop/",
                    data: JSON.stringify({ id: agentId }),
                    type: 'post',
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.msg !== "Готово")
                            alert(data.msg);
                        stopSpin();
                        location.reload();
                    }
                });
            });

            $('#start-agent-btn').click(function () {
                var agentId = document.getElementById('Id').value;
                startSpin();
                $.ajax({
                    url: "/Agents/Start/",
                    data: JSON.stringify({ id: agentId }),
                    type: 'post',
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.msg !== "Готово")
                            alert(data.msg);
                        stopSpin();
                        location.reload();
                    }
                });
            });

            $('#sync-btn').click(function () {
                var agentId = document.getElementById('Id').value;
                startSpin();
                $.ajax({
                    url: "/Agents/Sync/",
                    data: JSON.stringify({
                        id: agentId,
                        jsonConfig: editor.getValue()
                    }),
                    type: 'post',
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.msg !== "Готово")
                            alert(data.msg);
                        stopSpin();
                        location.reload();
                    }
                });
            });
        });
    </script>
}

@Html.HiddenFor(model => model.Id)


<h2 class="page-header">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-xs-12">
        @*<div class="alert alert-info">
            <strong>Изменения успешно сохранены.</strong>.
        </div>*@
        <div class="job-snippet">
            <div class="job-snippet-code">
<div id="editor">@Model.JsonConfig</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-right">
        <h3>
            <span class="job-snippet-buttons">
               @if (Model.Status == AgentStatus.Working)
               {
                    <button class="js-jobs-list-command btn btn-sm btn-default" id="stop-agent-btn">
                        <span class="glyphicon glyphicon-pause"></span>
                        Остановить
                    </button>
               }
               else
               {
                    <button class="js-jobs-list-command btn btn-sm btn-default"  id="start-agent-btn">
                        <span class="glyphicon glyphicon-play"></span>
                        Запустить
                    </button>
               }
            </span>
            <span class="job-snippet-buttons">
                <button class="btn btn-sm btn-death" id="sync-btn">
                    Сохранить
                </button>
            </span>
        </h3>

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="job-snippet-properties">
            <dl>
                <dt>Сервер</dt>
                <dd><pre><code>@Model.IpAddress:@Model.Port</code></pre></dd>
                <dt>Статус</dt>
                <dd><pre><code>@Model.Status</code></pre></dd>
                <dt>Добавлен</dt>
                <dd><pre><code>@Model.CreationDate</code></pre></dd>
            </dl>
        </div>
    </div>
</div>